@charset "UTF8";

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

main span a {
    text-decoration: none;
    color: #1e1e1e;
    padding: 0.432rem;
    line-height: 1.5;
}

a:hover {
    text-decoration: underline dashed;
    color: #fff;
    background-color: rgba(116, 160, 114, 0.849);
    transition: color 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045),background-color 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

main p {
    margin: 3rem auto;
    width: 45%;
    line-height: 1.7rem;
    word-spacing: 0.4rem;
}

@media screen and (max-width: 481px) and (max-width: 1024px) and (orientation:portrait) {
    main p {
        margin: 4rem auto;
        width: 90%;
        line-height: 1.5rem;
        word-spacing: 0.2rem;
    }
    body {
        background-color: #555151;
        color: #fff;
    }

    a {
        background-color: #fff;
        color: #1e1e1e;
        padding: 0.343rem 0.345rem;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
    main p {
        margin: 4rem auto;
        width: 90%;
        line-height: 1.5rem;
        word-spacing: 0.2rem;
    }
    body {
        background-color: #555151;
        color: #fff;
    }

    a {
        background-color: #fff;
        color: #1e1e1e;
        padding: 0.343rem 0.345rem;
        border-radius: 1rem;
    }
}

.backLink {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}