*, ::before, ::after {
    box-sizing: border-box;
}

body /* Body  styling */ {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav /* Navigation Layout */ {
    display: flex;
    justify-content: center;
    column-gap: 0.324rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
}

nav /* Use Strong Selectors */ span /* Don't Use `!important` proprty */ .navLink /* Styling links inside the nav element */ {
    /* Layout */
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    padding: 0.324rem 0.75rem;
    /* User must not select the element | 'Cause it's a button 😂 */
    -webkit-user-select: none; /* For Chrome */
    -moz-user-select: none; 
    user-select: none;
    /* For Style */
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    font-weight: 400;
    line-height: 1.5;
    /* transition effects on load */
    transition: color 500ms ease-in-out, background-color 1.20s cubic-bezier(0, 0, 0.2, 1), border-color 0.15s ease-in-out, box-shadow 3s ease-in-out;

}

.navLink:hover /* Hover Effects */ {
    color: #ffffff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid #82cfff;
    background-color: #212529c2;
    transition: color 500ms ease-in-out, background-color 1.20s cubic-bezier(0.68, -0.55, 0.27, 1.55), border-color 100ms ease-in-out, box-shadow 3s ease-out;
}

.art-main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.art-child {
    width: clamp(290px, 310px, 450px);
    box-shadow: 0 0 1.55rem rgba(0, 0, 0, 0.4);
    padding: 20px;
    display: grid;
    justify-items: stretch;
    border: 1px solid transparent;
    border-radius: 1.55rem;
    margin-bottom: 5rem;
}

.art-child .art-header {
    margin-top: 0.342px;
}

main>article>article span {
    /* Layout for link element */
    display: grid;
    justify-content: end;
}

main>article>article span a {
    /* Layout for styling */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    /* For Button Style Link */
    padding: 0.605rem 0.80rem;
    background-color: transparent;
    border-radius: 0.25rem;
    line-height: 1.5;
}

article span a:hover {
    background-color: rgb(0, 0, 0, 0.0999999);
    box-shadow: 0 0 0.95rem rgba(0, 0, 0, 0.379);
    color: rgba(0, 0, 0, 0.605);
    transition: backgroun-color 1.2s cubic-bezier(0.77, 0, 0.175, 1), color 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 1.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) ;
}

.art-child p {
    margin: 1.45rem auto;
    line-height: 1.55rem;
}