@charset "UTF-8";

#VERSION, #VERSION a {
    display: flex;
    justify-content: end;
    font-size: 10px;
    color: #000;
    text-decoration: none;
}

html body, img, p, h1, h2, h3, h4, h5, h6, a, main, article {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

*::selection {
    color: #ff0000;
    background-color: #000;
}