@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

nav /* Navigation Layout */ {
    display: flex;
    justify-content: center;
    column-gap: 0.324rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
}

nav  span .navLink  {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    padding: 0.324rem 0.75rem;
    /* User must not select the element | 'Cause it's a button 😂 */
    -webkit-user-select: none; /* For Chrome */
    -moz-user-select: none; 
    user-select: none;
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    font-weight: 400;
    line-height: 1.5;
    /* transition effects on hover */
    transition: color 500ms ease-in-out, background-color 1.20s cubic-bezier(0, 0, 0.2, 1), border-color 0.15s ease-in-out, box-shadow 3s ease-in-out;

}

.art-main-box .art-child {
    padding: 2rem;
}

.navLink:hover  {
    color: #ffffff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid #82cfff;
    background-color: #212529c2;
    transition: color 500ms ease-in-out, background-color 1.20s cubic-bezier(0.68, -0.55, 0.27, 1.55), border-color 100ms ease-in-out, box-shadow 3s ease-out;
}

.art-main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.art-child {
    display: grid;
    justify-items: stretch;
    width: clamp(290px/* min */, 310px/* preferred */, 450px /* max */);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 1.55rem;
    margin-bottom: 5rem;
}

.art-child:hover {
    
    box-shadow: 0 0 2.55rem rgba(0, 0, 0, 0.4);
    border: 2px dotted rgba(50, 10, 5, 0.303);
    border-radius: 2.2rem;
    transition: border-radius 2s cubic-bezier(0, 4, 0.8, 1.4), border 1s cubic-bezier(0, 4, 0.8, 1.4);
}

.art-child .art-header {
    margin-top: 0.342px;
}

main>article>article span {
    /* Layout for linking button */
    display: grid;
    justify-content: space-around;
}

main>article>article>span>a {
    /* Layout for styling */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    /* For Button Style Link */
    padding: 0.605rem 0.80rem;
    background-color: transparent;
    border-radius: 0.25rem;
    line-height: 1.5;
}

article span a:hover:not(.downloadLink, #more) {
    /* Hover effect for link button */
    background-color: rgba(0, 0, 0, 0.226);
    box-shadow: 0 0 0.95rem rgba(0, 0, 0, 0.379);
    color: blue;
    transition: backgroun-color 1.2s cubic-bezier(0.77, 0, 0.175, 1), color 1.6s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 1.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) ;
}

.art-child p {
    margin: 1.45rem auto;
    line-height: 1.55rem;
}

article img {
    width: clamp(250px, 260px, 270px);
    padding-top: 2rem;
}

@media (max-width: 200px) {
    p {
        width: 90%;
    }
}

@media screen and (max-width: 481px) and (max-width: 1024px) {
    body {
        background-color: #5e5e5e;
        color: #000000cc;
    }

    main>.art-main-box>.art-child {
        background-color: #ffffff;
    }

    main>.art-main-box>.art-child:hover {
        box-shadow: 0 0 3.5rem rgba(255, 255, 255, 0.4);
        transition: all 2s cubic-bezier(0, 4, 0.8, 1.4);
    }

    body>span>b{
        color: #fff;
        background-color: #fff;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
    body {
        background-color: #000000ea;
        color: #000000cc;
    }

    main>.art-main-box>.art-child {
        background-color: #ffffff;
    }

    main>.art-main-box>.art-child:hover {
        box-shadow: 0 0 3.5rem rgba(255, 255, 255, 0.4);
        transition: all 2s cubic-bezier(0, 4, 0.8, 1.4);
    }

    body>span>b{
        color: #fff;
        background-color: #fff;
    }

    .navLink:hover {
        background-color: #1e8dd6f1;
    }
}

summary {
    padding: 1.5rem;
    background-color: gray;
    border-radius: 5vh;
    user-select: none;
}

details {
    cursor: pointer;
    width: fit-content;
    height: auto;
}

.me23 {
    display: flex;
    justify-content: center;
}